In [2]:
num=int(input("Enter the number:"))
if(num==0):
    print("user entered zero")
elif(num%2==0):
    print("The number is even")
else:
    print("The number is odd")

Enter the number:0
user entered zero

In [3]:
num=int(input("Enter the number:"))
square=num**2
cube=num**3
print("square",num**2)
print("cube",num**3)

Enter the number:2
square 4
cube 8

In [22]:
marks=int(input("Enter the marks:"))
if(marks>60):
    print("first class")
elif(45<marks<60):
    print("second class")
elif(marks>=35):
    print("pass")
else:
    print("fail")

Enter the marks:25
fail

In [23]:
for a in range(1,6):
    print("Hello---->",a)

Hello----> 1
Hello----> 2
Hello----> 3
Hello----> 4
Hello----> 5

In [24]:
fruits=["Apple","Orange","Mango","Banana"]
for i in fruits:
    print(i)

Apple
Orange
Mango
Banana

In [26]:
students=["Sneha","Deepa","Sagar","Sanjay"]
for name in students:
    print(name,"is present")

Sneha is present
Deepa is present
Sagar is present
Sanjay is present

In [28]:
tasks=["Wake up","Exercise","Study","Sleep"]
for task in tasks:
    print("Don't forget to",task)

Don't forget to Wake up
Don't forget to Exercise
Don't forget to Study
Don't forget to Sleep

In [30]:
items=["Milk","Bread","Rice","Eggs"]
for item in items:
     print("Don't forget to bring",item)

Don't forget to bring Milk
Don't forget to bring Bread
Don't forget to bring Rice
Don't forget to bring Eggs

In [38]:
num=int(input("Enter the table:"))
for i in range(1,11):
    print(num,"X",i,"=",num*i)

Enter the table:4
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40

In [46]:
marks=[78,85,69,90,88]
total=0
for m in marks:
    total += m
print("Total Marks=",total)

Total Marks= 410

In [47]:
n=int(input("Enter the number of terms:"))
a=0
b=1
print("Fibonacci Series:")
for i in range(n):
    print(a,end=" ")
    temp=a+b
    a=b
    b=temp

Enter the number of terms:10
Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

In [3]:
r=int(input("Enter the num:"))
for i in range(r):
    for j in range(r):
        print("*",end=" ")
    print()

Enter the num:5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [4]:
r=int(input("Enter the num:"))
for i in range(r):
    for j in range(i):
        print("*",end=" ")
    print()

Enter the num:5

*
* *
* * *
* * * *

In [8]:
rows=5
for i in range(1,rows+1):
    print("*"*i)

*
**
***
****
*****

In [14]:
r=int(input("Enter the num:"))
for i in range(r):
    for j in range(r-i):
        print("*",end=" ")
    print()

Enter the num:6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [16]:
rows=5
for i in range(rows,0,-1):
    print("*"*i)

*****
****
***
**
*

In [18]:
day=int(input("Enter the day:"))
match day:
    case 1:
        print("Monday")
    case 2:
        print("Tuesday")
    case 3:
        print("Wednesday")
    case 4:
        print("Thursday")
    case 5:
        print("Friday")
    case 6:
        print("Saturday")
    case _:
        print("Invalid day number")

Enter the day:1
Monday

In [20]:
choice=int(input("Enter your choice:"))
match choice:
    case 1:
        print("You ordered Pizza")
    case 2:
        print("You ordered Coffee")
    case 3:
        print("You ordered Ice Cream")
    case _:
        print("Invalid choice")

Enter your choice:4
Invalid choice

In [2]:
r=int(input("Enter the num:"))
for i in range(r):
    for j in range(r-i):
        print(i,end=" ")
    print()

Enter the num:4
0 0 0 0
1 1 1
2 2
3

In [3]:
r=int(input("Enter the num:"))
for i in range(r):
    for j in range(i):
        print(i,end=" ")
    print()

Enter the num:5

1
2 2
3 3 3
4 4 4 4

In [4]:
fruits=["Apple","Banana"]
fruits.append("Cherry")
print(fruits)

['Apple', 'Banana', 'Cherry']

In [5]:
fruits=["Apple","Banana"]
fruits.insert(0,"Orange")
print(fruits)

['Orange', 'Apple', 'Banana']

In [6]:
fruits=["Apple","Banana"]
fruits.extend(["Cherry","Grape"])
print(fruits)

['Apple', 'Banana', 'Cherry', 'Grape']

In [8]:
fruits=["Apple","Banana","Cherry","Banana"]
fruits.remove("Banana")
print(fruits)

['Apple', 'Cherry', 'Banana']

In [9]:
fruits=["Apple","Banana","Cherry"]
fruits.pop(1)
print(fruits)

['Apple', 'Cherry']

In [10]:
fruits=["Apple","Banana","Cherry"]
fruits.clear()
print(fruits)

[]

In [11]:
nums=[3,1,4,2]
nums.sort()
print(nums)

[1, 2, 3, 4]

In [17]:
a=["b","a","k"]
a.sort()
print(a)

['a', 'b', 'k']

In [18]:
nums=[1,2,3,4]
nums.reverse()
print(nums)

[4, 3, 2, 1]

In [20]:
fruits=["Apple","Banana","Cherry","Banana"]
print(fruits.index("Banana"))

1

In [24]:
fruits=["Apple","Banana","Cherry","Banana"]
print(fruits.count("Banana"))

2

In [5]:
fruits=["Apple","Banana","Cherry"]
fruits.append("Mango")
fruits.insert(1,"Orange")
print(fruits)

['Apple', 'Orange', 'Banana', 'Cherry', 'Mango']

In [10]:
colour=["red","blue","green","yellow"]
colour.remove("green")
colour.pop()
print("The updated list",colour)

The updated list ['red', 'blue']

In [16]:
items=["milk","bread","eggs"]
items.append("butter")
items.append("jam")
items.remove("bread")
items.sort()
print("Final Shoppimg List=",items)

Final Shoppimg List= ['butter', 'eggs', 'jam', 'milk']

In [17]:
marks=(10,20,30,40)
print(len(marks))
print(min(marks))
print(max(marks))
print(sum(marks))
print(20 in marks)
print(marks[1:3])

4
10
40
100
True
(20, 30)

In [21]:
fruits={"apple","banana","cherry"}
fruits.add("mango")
fruits.add("apple")
print(fruits)

{'banana', 'cherry', 'apple', 'mango'}

In [22]:
fruits={"apple","banana"}
fruits.add("cherry")
print(fruits)

{'banana', 'cherry', 'apple'}

In [23]:
fruits={"apple","banana"}
fruits.update(["cherry","grape"])
print(fruits)

{'banana', 'grape', 'cherry', 'apple'}

In [24]:
fruits={"apple","banana","cherry"}
fruits.remove("banana")
print(fruits)

{'cherry', 'apple'}

In [25]:
a={1,2,3}
b={3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [26]:
a={1,2,3}
b={2,3,4}
print(a.intersection(b))

{2, 3}

In [27]:
a={1,2,3}
b={2,3,4}
print(a.difference(b))

{1}

In [33]:
python = {"ravi","anita","kiran","rahul"}
java = {"kiran","rahul","sneha","meena"}
print("students learning both python and java:",python.intersection(java))
print("studenta learning only python:",python.difference(java))
print("students learning ony java:",java.difference(python))
print("unique students from both classes",python.union(java))

students learning both python and java: {'rahul', 'kiran'}
studenta learning only python: {'ravi', 'anita'}
students learning ony java: {'sneha', 'meena'}
unique students from both classes {'anita', 'ravi', 'rahul', 'sneha', 'kiran', 'meena'}